.navbar {
    background-color: #3a7ab3;
    border: 0;
    border-radius: 0;
    opacity: 0.9;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #3a7ab3 !important;
  background-color: white !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.carousel-caption {
    top: 40%;
    transform: translateY(-10%);
}
