.navbar {
    background-color: #3a7ab3;
    border: 0;
    border-radius: 0;
    opacity: 0.9;
}

.navbar li a, .navbar .navbar-brand {
    color: #fff !important;
}

.navbar-nav li a:hover, .navbar-nav li.active a {
  color: #3a7ab3 !important;
  background-color: white !important;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}

.navbar-defualt .navbar-nav .open .dropdown-menu>li>a, .navbar-default .navbar-nav .open .dropdown-menu {
    background-color: #3a7ab3;
}

.logo {
    color: #3a7ab3;
    font-size: 50px;
}

#kontakt {
    color: white !important;
    background-color: #3a7ab3 !important;
}

#kontakt .row .col-sm-7 .row .col-sm-12 .btn {
    color: black !important;
}

@media screen and (max-width: 768px) {
    .col-sm-4 {
        text-align: center;
        margin: 25px 0;
    }
}
